body {
       padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://img.freepik.com/free-photo/computer-mouse-paper-bag-blue-background-top-view_169016-43756.jpg?ga=GA1.1.517108467.1695331913&semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.card {
    
background: #fff;
height: 400px;
width: 250px;
padding: 10px;
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
box-shadow: 0px 4px 8px rgba(235, 239, 240, 0.1);
transition: transform 0.3s ease-in-out;
box-shadow:  5px 5px 5px 5px   #000000;

}

.card:hover{
    transform: scale(1.1);
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 99px;
margin-top: 60px;
}
button {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: lightgray;
    cursor: pointer;
    margin-top: auto;
}
button:hover{
    background-color:gray;
    color: #fff;
}
h1{
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    background-color: #fff;
}

